<!-- configuração Django que define que este bloco de código utiliza outro, realizando a importação via extends, essa prática é algo comum em Django e é utilizada para não haver repetição de código, é chamada de DRY (Dont Repeat Yourself) -->
{% extends 'galery/base.html' %}
<!-- Configuração Django em Python que indica ao Django que esse arquivo carrega arquivos estáticos (CSS, JavaScript, etc.) e por isso quando o Django renderiza o arquivo deve-se passar os arquivos estáticos para esse arquivo HTML-->
<!-- O comando Python para carregar o arquivo é colocado nas tags IMGS, { % static 'nome do assets CSS' % } -->
{% load static %}
<!-- Configuração Django em Python que indica ao Django que esse arquivo é um bloco de conteúdo e que pode ser usado em outro local, usado neste caso do base.html-->
{% block content %}
    <div class="pagina-inicial">
        {% include 'galery/partials/_header.html' %}
        <main class="principal">
            {% include 'galery/partials/_section_navbar.html' %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/' %}{{photography.photo}}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{photography.name}}</p>
                                <p class="imagem__descricao">{{photography.subtitle}}</p>
                                <p class="imagem__texto">{{photography.description}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}